{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <meta charset="UTF-8">

    <title>
        خطاب تحويل - {{ referral.committee_case.patient.full_name }}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/main.css' %}"
    >

    <style>

        @media print {

            .print-actions {
                display: none;
            }

        }

    </style>

</head>


<body>

<div class="page">


    <div class="print-actions">

        <button
            onclick="window.print()"
            class="btn btn-primary"
        >
            طباعة
        </button>

    </div>


    <main class="print-document">

        <header class="print-document__header">

            <h1>
                خطاب تحويل
            </h1>

        </header>


        <section class="print-document__section">

            <p>
                السيد / ........................................
            </p>

            <p>
                تحية طيبة وبعد،
            </p>


            <p>

                نرجو التكرم باتخاذ اللازم نحو تقديم الخدمة الطبية
                للمريض:

            </p>


            <div class="print-document__patient">

                <p>
                    <strong>اسم المريض:</strong>
                    {{ referral.committee_case.patient.full_name }}
                </p>

                <p>
                    <strong>الرقم القومي:</strong>
                    {{ referral.committee_case.patient.national_id }}
                </p>

                <p>
                    <strong>الإجراء المطلوب:</strong>
                    {{ referral.committee_case.recommendation.procedure }}
                </p>


                {% if referral.committee_case.recommendation.no_of_sessions %}

                    <p>
                        <strong>عدد الجلسات:</strong>
                        {{ referral.committee_case.recommendation.no_of_sessions }}
                    </p>

                {% endif %}

            </div>


            <p>

                جهة التحويل:

                <strong>
                    {{ referral.referral_center }}
                </strong>

            </p>


            {% if referral.committee_case.recommendation.recommendation_text %}

                <p>

                    <strong>
                        ملاحظات اللجنة:
                    </strong>

                    {{ referral.committee_case.recommendation.recommendation_text }}

                </p>

            {% endif %}


            <p>
                وتفضلوا بقبول فائق الاحترام.
            </p>

        </section>


        <footer class="print-document__footer">

            <div>
                التاريخ:
                {{ referral.issued_at|date:"d/m/Y" }}
            </div>

            <div>
                توقيع اللجنة
            </div>

        </footer>

    </main>

</div>

</body>

</html>