{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            نظام اللجنة العليا للجاما نايف
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/main.css' %}"
    >

</head>


<body>

<div class="app">


    <!-- =========================
         Navbar
    ========================== -->

    <nav class="navbar">


        <div class="navbar__brand">

            <img
                src="{% static 'images/logo.png' %}"
                alt="شعار النظام"
                class="navbar__logo"
            >

            <div class="navbar__brand-text">

                <div class="navbar__title">
                    نظام اللجنة العليا للجاما نايف
                </div>

                <div class="navbar__subtitle">
                    إدارة جلسات وقرارات اللجنة
                </div>

            </div>

        </div>



        <div class="navbar__links">


            <a
                href="{% url 'home' %}"
                class="navbar__link"
            >
                الرئيسية
            </a>


            <a
                href="{% url 'patient_list' %}"
                class="navbar__link"
            >
                المرضى
            </a>


            <a
                href="{% url 'session_list' %}"
                class="navbar__link"
            >
                الجلسات
            </a>


            <a
                href="{% url 'pending_referrals' %}"
                class="navbar__link"
            >
                التحويلات
            </a>


            <!-- Login - مؤقتًا -->

            <a
                href="#"
                class="navbar__link navbar__link--login"
            >
                تسجيل الدخول
            </a>


            {% if request.user.is_staff %}

                <a
                    href="/admin/"
                    class="navbar__link"
                >
                    الإدارة
                </a>

            {% endif %}

        </div>



        <div class="navbar__user">


            {% if request.user.is_authenticated %}

                <span class="navbar__user-name">

                    {{ request.user.get_full_name|default:request.user.username }}

                </span>

            {% else %}

                <span class="navbar__user-name">
                    زائر
                </span>

            {% endif %}


        </div>


    </nav>



    <!-- =========================
         Page Content
    ========================== -->

    <main class="app__content">

        {% block content %}

        {% endblock %}

    </main>


</div>


</body>

</html>